@import 'reset';
@import 'variables';

body {
    background-color: #ccc;
    font-family: $ff;
}

h1 {
    @include heading-lg;
    @include min-width($dw-tablet) {
        @include heading-lg;
    }
    @include min-width($dw-desktop) {
        @include heading-xl;
    }
}

h2 {
    @include heading-sm;
    line-height: 2rem;
    @include min-width($dw-tablet) {
        @include heading-sm;
        line-height: 2rem;
    }
    @include min-width($dw-desktop) {
        @include heading-med;
    }
}

h3 {
    @include heading-xs;
    @include min-width($dw-tablet) {
        @include heading-xs;

    }
    @include min-width($dw-desktop) {
        @include heading-sm;
    }
}

p {
    @include body-sm;
    @include min-width($dw-tablet) {
        @include body-sm;
    }
    @include min-width($dw-desktop) {
        @include body-med;
    }
}

main {
    padding: pxl(0);
    background-color: $clr-neu-1;
}

.Btn {
    display: inline-block;
    padding: pxl(11) pxl(25);
    border-radius: pxl(30);
    &-title{
        color: $clr-neu-1;
    }
    &--header {
        background-color: $clr-pri-1;
    }
    &--home {
        background-image: $clr-pri-grd;
        padding: pxl(15) pxl(38.5);
    }
    &--footer {
        background-image: $clr-sec-grd;
    }
}
.icon {
    height: pxl(56);
    width: pxl(56);
    background-size: cover;
    margin-top: pxl(-26);
    margin-bottom: pxl(24);
    &1 {
        background-image: url('../images/icon-animation.svg');
    }
    &2 {
        background-image: url('../images/icon-design.svg');
    }
    &3 {
        background-image: url('../images/icon-photography.svg');
    }
    &4 {
        background-image: url('../images/icon-crypto.svg');
    }
    &5 {
        background-image: url('../images/icon-business.svg');
    }
}

.header {
    background-color: $clr-neu-1;
    padding: pxl(16);
    padding-bottom: pxl(0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /**********************/
    margin-bottom: pxl(38);
    .logo {
        //
        &--header {
            //
        }
    }
}

.home {
    display: flex;
    flex-direction: column;
    background-color: $clr-neu-1;
    // padding: pxl(0) pxl(16);
    /**********************/
    margin-bottom: pxl(0);

    .intro {
        padding: pxl(0) pxl(16);
        /**********************/
        margin-bottom: pxl(46);

        &-title {
            color: $clr-pri-1;
            margin-bottom: pxl(26);
        }
        &-text {
            color: $clr-neu-2;
            margin-bottom: pxl(24);
        }
    }
    
    .hero-img {
        align-self: center;
        height: pxl(367);
        width: pxl(375);
        background-image: url('../images/image-hero-mobile.webp');
        background-size: 115% 115%;
        background-position: center center;
    }
}

.courses {
    background-image: $clr-neut-grd;
    padding: pxl(0) pxl(16);
    &-list {
        display: grid;
        gap: pxl(40);
        .course {
            background-color: $clr-neu-1;
            padding-top: pxl(0);
            padding-left: pxl(28);
            padding-right: pxl(28);
            padding-bottom: pxl(32);
            border-radius: pxl(10);
            &:last-of-type {
                margin-bottom: pxl(80);
            }
            &--cta {
                background-image: $clr-pri-grd;
                padding: pxl(28) pxl(30.5);
                &-title {
                    color: $clr-neu-1;
                }
            }
            &-title {
                color: $clr-pri-1;
                margin-bottom: pxl(18);
            }
            &-details {
                color: $clr-neu-2;
                margin-bottom: pxl(24);
            }
            .cta {
                &-title {
                    color: $clr-sec-1;
                    font-weight: 700;
                }
            }
        }
    }
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $clr-pri-1;
    padding-top: pxl(36);
    padding-bottom: pxl(36);
    padding-left: pxl(16);
    padding-right: pxl(16);
}