/***
    The new CSS reset - version 1.7.2 (last updated 23.6.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* reset default text opacity of input placeholder */
::-moz-placeholder {
  color: unset;
}
:-ms-input-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

body {
  background-color: #ffffff;
  font-family: "Plus Jakarta Sans", sans-serif;
}
@media screen and (min-width: 68.75rem) {
  body {
    display: flex;
  }
}

h1 {
  font-size: 40px;
  line-height: 51px;
  font-weight: 800;
}
@media screen and (min-width: 45rem) {
  h1 {
    font-size: 40px;
    line-height: 51px;
    font-weight: 800;
  }
}
@media screen and (min-width: 68.75rem) {
  h1 {
    font-size: 56px;
    line-height: 70px;
    font-weight: 800;
  }
}

h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 800;
  line-height: 2rem;
}
@media screen and (min-width: 45rem) {
  h2 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 800;
    line-height: 2rem;
  }
}
@media screen and (min-width: 68.75rem) {
  h2 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 800;
  }
}

h3 {
  font-size: 20px;
  line-height: 25px;
  font-weight: 800;
}
@media screen and (min-width: 45rem) {
  h3 {
    font-size: 20px;
    line-height: 25px;
    font-weight: 800;
  }
}
@media screen and (min-width: 68.75rem) {
  h3 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 800;
  }
}

p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
}
@media screen and (min-width: 45rem) {
  p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
  }
}
@media screen and (min-width: 68.75rem) {
  p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
  }
}

main {
  padding: 0px;
  background-color: #ffffff;
}
@media screen and (min-width: 68.75rem) {
  main {
    margin: 0 auto;
    max-width: 1440px;
    overflow: hidden;
  }
}

.Btn {
  display: inline-block;
  padding: 11px 25px;
  border-radius: 36px;
  cursor: pointer;
  transition: all 0.5s;
  z-index: 1;
}
@media screen and (min-width: 68.75rem) {
  .Btn {
    padding: 14px 33px;
  }
}
.Btn-title {
  color: #ffffff;
}
.Btn--header {
  background-color: #13183f;
}
.Btn--header:hover {
  background-color: #313da1;
  opacity: 40%;
}
.Btn--home {
  background-image: linear-gradient(#ff6f48, #f02aa6);
  padding: 15px 38.5px;
}
.Btn--home:hover {
  background-image: linear-gradient(#ffab95, #f571c4);
}
@media screen and (min-width: 68.75rem) {
  .Btn--home {
    padding: 17.5px 33px;
  }
}
.Btn--footer {
  background-image: linear-gradient(#4851ff, #f02aa6);
}
.Btn--footer:hover {
  background-image: linear-gradient(#959aff, #f571c4);
}

.icon {
  height: 56px;
  width: 56px;
  background-size: cover;
  margin-top: -26px;
  margin-bottom: 24px;
}
@media screen and (min-width: 68.75rem) {
  .icon {
    margin-bottom: 32px;
  }
}
.icon1 {
  background-image: url("../images/icon-animation.svg");
}
.icon2 {
  background-image: url("../images/icon-design.svg");
}
.icon3 {
  background-image: url("../images/icon-photography.svg");
}
.icon4 {
  background-image: url("../images/icon-crypto.svg");
}
.icon5 {
  background-image: url("../images/icon-business.svg");
}

.header {
  background-color: #ffffff;
  padding: 16px;
  padding-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /**********************/
  margin-bottom: 38px;
}
@media screen and (min-width: 45rem) {
  .header {
    padding-top: 24px;
    padding-left: 39px;
    padding-right: 39px;
    margin-bottom: 99px;
  }
}
@media screen and (min-width: 68.75rem) {
  .header {
    padding-top: 24px;
    padding-left: 165px;
    padding-right: 165px;
    margin-bottom: 172px;
  }
}

.home {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  /**********************/
  margin-bottom: 0px;
}
@media screen and (min-width: 45rem) {
  .home {
    flex-direction: row;
  }
}
.home .intro {
  padding: 0px 16px;
  /**********************/
  margin-bottom: 46px;
}
@media screen and (min-width: 45rem) {
  .home .intro {
    padding: 0px 39px;
    padding-right: 0px;
    /**********************/
    margin-bottom: 123px;
    width: 438px;
  }
}
@media screen and (min-width: 68.75rem) {
  .home .intro {
    padding: 0px 165px;
    padding-right: 0px;
    /**********************/
    margin-bottom: 266px;
    width: 622px;
  }
}
.home .intro-title {
  color: #13183f;
  margin-bottom: 26px;
}
@media screen and (min-width: 68.75rem) {
  .home .intro-title {
    margin-bottom: 29px;
  }
}
.home .intro-text {
  color: #83869a;
  margin-bottom: 24px;
}
@media screen and (min-width: 68.75rem) {
  .home .intro-text {
    margin-bottom: 40px;
  }
}
.home .hero-img {
  align-self: center;
  height: 367px;
  min-width: 375px;
  background-image: url("../images/image-hero-mobile.webp");
  background-size: 115% 115%;
  background-position: center center;
}
@media screen and (min-width: 45rem) {
  .home .hero-img {
    align-self: initial;
    background-image: url("../images/image-hero-tablet.webp");
    height: 640px;
    min-width: 640px;
    background-size: 100% 100%;
    background-position: initial;
    position: absolute;
    top: -75px;
    left: 52.5%;
    z-index: 0;
  }
}
@media screen and (min-width: 68.75rem) {
  .home .hero-img {
    align-self: initial;
    background-image: url("../images/image-hero-desktop.webp");
    height: 937px;
    min-width: 992px;
    background-size: 100% 100%;
    background-position: initial;
    position: absolute;
    top: -160px;
    left: 52.5%;
    z-index: 0;
  }
}

.courses {
  background-image: linear-gradient(#ffffff, #f0F1ff);
  padding: 0px 16px;
}
@media screen and (min-width: 45rem) {
  .courses {
    padding-left: 39px;
    padding-right: 39px;
  }
}
@media screen and (min-width: 68.75rem) {
  .courses {
    padding-left: 165px;
    padding-right: 165px;
  }
}
.courses-list {
  display: grid;
  gap: 40px;
}
@media screen and (min-width: 45rem) {
  .courses-list {
    grid-template-columns: 1fr 1fr;
    gap: 56px 11px;
  }
}
@media screen and (min-width: 68.75rem) {
  .courses-list {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px 30px;
  }
}
.courses-list .course {
  background-color: #ffffff;
  padding-top: 0px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 64px;
  border-radius: 10px;
  position: relative;
}
@media screen and (min-width: 68.75rem) {
  .courses-list .course {
    padding-top: 0px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 72px;
    border-radius: 15px;
  }
}
@media screen and (min-width: 68.75rem) {
  .courses-list .course:nth-of-type(4) {
    margin-bottom: 140px;
  }
}
@media screen and (min-width: 45rem) {
  .courses-list .course:nth-of-type(5) {
    margin-bottom: 86px;
  }
}
@media screen and (min-width: 68.75rem) {
  .courses-list .course:nth-of-type(5) {
    margin-bottom: 140px;
  }
}
.courses-list .course:last-of-type {
  margin-bottom: 80px;
}
@media screen and (min-width: 45rem) {
  .courses-list .course:last-of-type {
    margin-bottom: 86px;
  }
}
@media screen and (min-width: 68.75rem) {
  .courses-list .course:last-of-type {
    margin-bottom: 140px;
  }
}
.courses-list .course--cta {
  background-image: linear-gradient(#ff6f48, #f02aa6);
  padding: 28px 30.5px;
}
@media screen and (min-width: 45rem) {
  .courses-list .course--cta {
    padding: 56px 32px;
  }
}
@media screen and (min-width: 68.75rem) {
  .courses-list .course--cta {
    padding-top: 64px;
  }
}
.courses-list .course--cta-title {
  color: #ffffff;
}
.courses-list .course-title {
  color: #13183f;
  margin-bottom: 18px;
}
@media screen and (min-width: 68.75rem) {
  .courses-list .course-title {
    margin-bottom: 24px;
  }
}
.courses-list .course-details {
  color: #83869a;
  margin-bottom: 24px;
}
@media screen and (min-width: 68.75rem) {
  .courses-list .course-details {
    margin-bottom: 24px;
  }
}
.courses-list .course .cta {
  position: absolute;
  bottom: 0px;
}
.courses-list .course .cta-title {
  color: #f74780;
  font-weight: 700;
  margin-bottom: 32px;
}
@media screen and (min-width: 68.75rem) {
  .courses-list .course .cta-title {
    margin-bottom: 36px;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #13183f;
  padding-top: 36px;
  padding-bottom: 36px;
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 45rem) {
  .footer {
    padding-left: 39px;
    padding-right: 39px;
  }
}
@media screen and (min-width: 68.75rem) {
  .footer {
    padding-left: 165px;
    padding-right: 165px;
  }
}/*# sourceMappingURL=style.css.map */